@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Rubik:wght@300&display=swap');

:root {
    font-family: "Josefin Sans", sans-serif;
    --bg0: #202020;
    --fg0: #fefefe;
    --acc1: #20c2eb;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg0: #fefefe;
        --fg0: #202020;
    }
}

::-webkit-scrollbar {
    width: 0px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--fg0);
}

body {
    background-color: var(--bg0);
    overflow: hidden;
}

span {
    color: var(--acc1);
}

nav {
    position: absolute;
    z-index: 500;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5em;
    animation: fade-in 1s forwards ease 3s;
}

@keyframes fade-in {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

nav.top {
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
}

nav.bottom {
    bottom: 0;
    left: 50vw;
    transform: translate(-50%);
}

nav.left {
    top: 50vh;
    left: 0;
    transform: translateY(-50%);
}

nav a {
    text-align: center;
}

nav.right {
    top: 50vh;
    right: 0;
    transform: translateY(-50%);
}

a {
    text-decoration: none;
    transition: all .3s ease;
    position: relative;
}

a:hover {
    color: var(--acc1);
    transform: scale(1.1);
}

a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--fg0);
    transform-origin: center;
    transform: scaleX(0);
    transition: all .3s ease;
}

a:hover::after {
    background-color: var(--acc1);
    transform: scaleX(1);
}

#title-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#title-container * {
    text-align: center;
    padding: .2em;
    position: relative;
}


#title-container > *:nth-child(1) {
    font-size: 6em;
    background-color: var(--bg0);
    transform-origin: center;
    transform: scale(0);
    animation: title-scale 1s forwards ease;
}

@keyframes title-scale {
    to {
        transform: scale(1);
    }
}


#title-container > *:not(:nth-child(1))::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: top;
    background-color: var(--bg0);
    animation: scale-y-0 1s forwards 1s ease;
}

#title-container > *:nth-child(3)::after {
    transform-origin: bottom;
    animation: scale-y-0 1s forwards 2s ease;
}


@keyframes scale-y-0 {
    to {
        transform: scaleY(0);
    }
}

@keyframes scale-x-0 {
    to {
        transform: scaleX(0);
    }
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: translate 2s ease;
}

section.top {
    bottom: 200vh;
    left: 0;
}

section.bottom {
    top: 200vh;
    left: 0;
}

section.left {
    right: 200vw;
    top: 0;
}

section.right {
    left: 200vw;
    top: 0;
}

#home {
    position: relative;
}

.slide-right {
    translate: 200% 0 !important;
}

.slide-left {
    translate: -200% 0 !important;
}

.slide-up {
    translate: 0 -200% !important;
}

.slide-down {
    translate: 0 200% !important;
}

.slide-center {
    translate: 0 0 !important;
}